/* Réinitialisation des marges et des rembourrages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barre de navigation */
nav {
    background-color: #000;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo {
    font-weight: bold;
    margin-right: 1em;
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
    margin-right: 60px;
}

.auth-links {
    margin-left: auto;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    /* Centrer horizontalement */
    transform: translateX(-50%);
    /* Centrer horizontalement */
    background-color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content li {
    color: white;
    padding: 12px 16px;
    display: block;

}

.dropdown-content li:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.nav-icon {
    font-size: 1.5rem;
    margin: 0 10px;
    vertical-align: middle;
}
