
.hero-section {
    background-image: url('https://cdn.midjourney.com/33b6252b-faf5-42f0-a964-4d1cf7f184f9/0_0.png');
    background-position: top;
    background-size: cover;
    position: relative;
    text-align: center;
    height: 100vh;
    /* hauteur de la fenêtre de visualisation */
    opacity: 1;
}



.hero-text {
    position: absolute;
    top: 50%;
    right: 78%;
    /* Vous pouvez ajuster cette valeur */
    transform: translateY(-50%);
    color: white;
    font-size: 3em;
    /* Taille du texte, ajustez comme vous le souhaitez */
}

.hero-phrase {
    position: absolute;
    top: 70%;
    /* ajustez comme vous le souhaitez */
    left: 63%;    /* ajustez comme vous le souhaitez */
    color: white;
    font-size: 1.2em;
    /* ajustez comme vous le souhaitez */
}
