.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-section {
    margin-top: 20px;
}
.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: -75px;  /* La moitié de la hauteur */
    z-index: 1;  /* Pour s'assurer qu'il s'affiche au-dessus */
    background-color: grey;  /* Couleur de fond en l'absence de photo */
}


.dashboard-sections {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.active-section {
    margin-top: 20px;
}
.button {
    background-color: #ffffff; /* Fond blanc */
    color: #000000; /* Écriture en noir */
    padding: 10px 20px; /* Espace intérieur */
    margin-bottom: 2px; /* Un peu d'espace en bas */
    border: none; /* Aucune bordure */
    border-bottom: 3px solid #050505; /* Trait en bas */
    cursor: pointer; /* Curseur en main au survol */
    transition: box-shadow 0.3s ease; /* Transition pour l'ombre */
    display: flex;
    justify-content: center;
align-items: center;
}

.button:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Ombre lors du clic */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.profile-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
