.add-whole-service-btn {
    background: linear-gradient(to right, #007BFF, #33CCEF); /* Gradient */
    color: white; /* Couleur du texte */
    border: none; /* Retirer la bordure */
    padding: 16px 32px; /* Padding intérieur */
    margin: 16px 0; /* Marge autour du bouton */
    border-radius: 50px; /* Coins très arrondis */
    font-size: 16px; /* Taille du texte */
    cursor: pointer; /* Curseur en forme de main */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Ombre */
    transition: all 0.3s ease; /* Transition pour les effets au survol */

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.add-whole-service-btn:hover {
    background: linear-gradient(to right, #0056b3, #31A5C7); /* Gradient au survol */
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2); /* Ombre plus grande au survol */
}

.add-whole-service-btn:active {
    background: linear-gradient(to right, #004085, #2D7F9E); /* Gradient lors du clic */
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2); /* Ombre plus petite lors du clic */
    transform: scale(0.95); /* Réduction légère de la taille lors du clic */
}
